<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <link href='https://fonts.googleapis.com/css?family=Jura:400,500' rel='stylesheet' type='text/css'>
        <link href="~/Content/bootstrap.min.css" rel="stylesheet"/>
        <link href="~/Content/Sidebar.css" rel="stylesheet" />
        <link href="~/Content/TestStyleSheet.css" rel="stylesheet"/>
        
        

        @Scripts.Render("~/bundles/modernizr")
        @Styles.Render("~/bundles/fonts")
    </head>
    <body>
         
            <div id="sidebar-wrapper" style="z-index:2">
                <ul class="sidebar-nav" style="z-index:2">
                    <li class="sidebar-brand" style="z-index:2">
                        @Html.ActionLink("Contents", "Index", "Home")
                    </li>
                    <br />
                    <li>
                        <a href="#profile">• Profile</a>
                    </li>
                    <li>
                        <a href="#mainBody">• Education</a>
                    </li>
                    <li>
                        <a href="#experience">• Experience</a>
                    </li>
                </ul>
            </div>

            <div id="page-wrap">
                <div id = "page-content-wrapper">
                    <b id="pageTitle">Mark Poole</b>
                        <br />
                    <p id="pageLeading">Junior Web Developer</p>
                </div>
            </div>

        <span id="top-link-block" class="hidden">
          <a href="#top" class="well well-sm"  onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
            <i class="glyphicon glyphicon-chevron-up"></i> Back to Top
          </a>
        </span>

        @RenderBody()
            <div id="bg">
             <img src="../../Images/Hills.jpg" alt="">
            </div>
        
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/mainPageScripts.js"></script>
        <script>
            $(document).ready(function () {
                backToTopButton();
                resizeProfile();
                resizeMainBody();
                resizeMainBodyWCLInfo();
                sidebarWrapper();
                resizeLineBreak();
                resizeExperience();
                smoothScroll();
            });
</script>
    </body>
</html>
